.productCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.brandAndIconsSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.icons {
  display: flex;
  gap: 4px;
  align-items: center;
}

.variants {
  display: flex;
  gap: 8px;
  align-items: center;
}
