.page {
  width: 100%;
}

.mainContent {
  padding: 16px;
}

.productInfoSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.productTitleRow {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.orderSpecsSection {
  display: flex;
  gap: 4px;
}

.orderFinalSection {
  padding: 24px;
  /* 100% of grid col width - 20px padding each side */
  width: calc(100% - 48px);
  border-radius: 8px;
  background-color: var(--blue-10);
  display: flex;
  flex-direction: column;
  gap: 12px;

  & .finalOrderRow {
    display: flex;
    justify-content: space-between;
  }
}
