.page {
  width: 100%;
}

.middleSection {
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.headerSection {
  display: flex;
  justify-content: space-between;
  margin: 24px 0 16px;
}

.dropdowns {
  margin-top: 48px;
  display: flex;
  gap: 8px;
  align-items: end;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
