:root {
  font-family: Roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Neutrals */
  --black: #000000;
  --white: #ffffff;

  /* Blue */
  --blue-100: #001c53;
  --blue-90: #042c7b;
  /* brand blue */
  --blue-80: #1c19ed;
  --blue-70: #0e5fff;
  --blue-60: #007fff;
  --blue-50: #45a2ff;
  --blue-40: #7ac8ff;
  --blue-30: #d4dfeb;
  --blue-20: #e9f0f7;
  --blue-10: #f6f9fc;

  /* Gray */
  --gray-100: #262b35;
  --gray-90: #353a44;
  --gray-80: #444b58;
  --gray-70: #596171;
  --gray-60: #838c9c;
  --gray-50: #96a2ad;
  --gray-40: #acb7be;
  --gray-30: #cdd7da;
  --gray-20: #dde5e7;
  --gray-10: #edf3f5;

  /* Green */
  --green-100: #026049;
  --green-90: #008457;
  --green-80: #0aa95e;
  --green-70: #3fb472;
  --green-60: #5ec086;
  --green-50: #7acb9a;
  --green-40: #ade0c1;
  --green-30: #c6ebd5;
  --green-20: #dff5e8;
  --green-10: #eaf8ef;

  /* Yellow */
  --yellow-100: #875d1d;
  --yellow-90: #c27605;
  --yellow-80: #ffba08;
  --yellow-70: #fec951;
  --yellow-60: #fed372;
  --yellow-50: #fedb8b;
  --yellow-40: #feebbc;
  --yellow-30: #fff0cb;
  --yellow-20: #fff5de;
  --yellow-10: #fffaef;

  /* Red */
  --red-100: #880000;
  --red-90: #be0305;
  --red-80: #e40707;
  --red-70: #ed3427;
  --red-60: #f54e40;
  --red-50: #ff796e;
  --red-40: #ffa19b;
  --red-30: #ffc8c6;
  --red-20: #ffdbda;
  --red-10: #ffeeee;

  /* Purple */
  --purple-100: #4d1db2;
  --purple-90: #5b34ca;
  --purple-80: #694ae2;
  --purple-70: #8a6fed;
  --purple-60: #a994f7;
  --purple-50: #c7b9ff;
  --purple-40: #d1c6ff;
  --purple-30: #dcd2ff;
  --purple-20: #e6dfff;
  --purple-10: #f0ecff;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}
